{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Matrix Toggle plugin for Craft CMS 3.x
 *
 * Matrix Toggle index.twig
 *
 * @author    Mike Pierce
 * @copyright Copyright (c) 2018 Mike Pierce
 * @link      https://michaelpierce.trade/
 * @package   MatrixToggle
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("monachilada\\matrixtoggle\\assetbundles\\matrixtoggle\\MatrixToggleAsset") %}
{% do view.registerAssetBundle("monachilada\\matrixtoggle\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/monachilada/matrix-toggle/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Matrix Toggle" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('matrix-toggle') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@monachilada/matrixtoggle/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('matrix-toggle') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('matrix-toggle') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
